<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="/styles.css">
  </head>

  <body>
    <h1>Login Here</h1>

    <div id="not_a_user">
      {{thing}}
    </div>

    <ul id="errors">
      {{#errors}}
        <li>{{msg}}</li>
      {{/errors}}
    </ul>

    <form id="login_form" action="/login" method="post">
      <div id="input1">
      <input type="text" name="username" placeholder="username" value="{{usersData.username}}"/></br>
    </div>

      <div id="input2">
      <input type="password" name="password" placeholder="Password" value="{{usersData.password}}"/></br>
    </div>

      <button type="submit" name="button">Login</button>
    </form>

  </body>
</html>
